In [ ]:
Week 8 Lab Instructions (3%) 
Data loading, Storage, and File Formats 
Get the lab supervisor check progress in the lab to get marks! Before approaching the lab supervisor for marking, make sure you run all cells! Task 1 (1%) Copy and paste the data below and save the file as ‘datainput.csv’. Read data into a pandas DataFrame with variable name ‘data’. Then i) Print the first 5 rows, and all of the columns for those rows; ii) Print the rows from position 5 onwards, and columns from position 2 onwards; iii) Print the first two columns, and all of the rows for the column; iv) Print from 6th row, and all of the columns for that row. 
id, emp_name,   emp_salary,  start_date,  dept 
1,  Vishavjeet, 999.3,       2018-12-04,  IT 
2,  Nimesh,     878.4,       2017-09-24,  IT 
3,  Sara,       611,         2014-11-15,  HR 
4,  Gulfam,     729,         2014-05-11,  IT 
5,  Jack,      845.25,       2016-07-27,  Finance 
6,  Jessica,   878,          2014-05-21,  Marketing 
7,  Saurav,    632.8,        2018-07-30,  Operations 
8,  Sachin,    722.5,        2017-06-17,  SEO 
 
Task 2 (1%) Copy and paste the above data in the sheet 1 of an excel file ‘input.xlsx’. Copy and paste the following data as the sheet 2 data of the same excel file: i) Read the sheet 1 data into a pandas DataFrame with variable name ‘df1’ and then read the sheet 2 data into a pandas DataFrame with variable name ‘df2’. ii) Print the first five rows of the ‘salary’ column of sheet 1 and Print the first five rows of the ‘zipcode’ column of sheet 2. iii) merge df1 and df2 as df3 and then write df3 to the sheet 3 of the excel file. 
# Data in Sheet2 
id name       zipcode 
1,  Vishavjeet,    778888 
2,  Nimesh,        553322 
3,  Sara,          665544 

Task 3 (1%) Copy and paste the data below and save the file as ‘input.json’. i) Read the json file into a pandas DataFrame with variable name ‘data’; ii) Print the data and then dump the data into a json string and print the dumped string again with indent of 4 for an easy read. iii) Remove the ‘Salary’ column of data and then writes the new data to another json file ‘output.json’. iv) load another json file from the Web with URL: https://api.exchangerateapi.com/v4/latest/USD into a data frame ‘df’ and then print this data frame. 
{  
   "ID":["1","2","3","4","5","6","7","8" ], 
   "Name":["Vishavjeet","Amit","Nimesh","Sara","Saurav","Gulfam","Anupam","Guru" ], 
   "Salary":["623.3","515.2","611","729","843.25","578","632.8","722.5" ], 
   "StartDate":[ "1/1/2013","9/23/2014","11/15/2013","5/11/2014","3/27/2015","5/21/2013", 
      "7/30/2013","6/17/2014"], 
   "Dept":[ "IT","Operations","IT","HR","Finance","IT","Operations","Finance"]