# ASSIGNMENT FOR WEEK 7


Week 7 Lab Instructions (3%) 
Pandas 
Get the lab supervisor check progress in the lab to get marks! Before approaching the lab supervisor for marking, 
make sure you run all cells! 
Let df be a pandas DataFrame constructed with the following code: 
    
data = np.array([0, 7, 3, 6, 2, 8, 5, 9, 4]).reshape(3, -1) 
df = pd.DataFrame(data, index=['One', 'Two', 'Three'], columns=['a', 'b', 'c']) 

What is the output of the following code? Please append with detailed comments about why. 
 
a. print(df)
b. df[‘a’] 
c. df[‘One’] 
d. df.loc[‘Two’]
e. df[:2] 
f. df.iloc[:,:2]
g. list(df.columns)
h. list(df.index) 
i. df[‘b’][‘Two’] 
j. list(df.iloc[2, :])
k. df.drop('a', axis=1) 
l. df[df.a !=5] 
m. list(df.sum(axis=0))
n. df.iloc[:, list(df.sum(axis=0) < 17)] 
o. df.sort_values(by='c') 
p. df.sort_values(by='Two', axis=1) 
q. df.T
r. (df<=2).any(axis=0)
s. df.applymap(lambda x: x*2-1)
t. df.apply(lambda x: max(x), axis=1)

In [ ]:
#Part(a)
import pandas as pd
import numpy as np
data = np.array([0, 7, 3, 6, 2, 8, 5, 9, 4]).reshape(3, -1) 
df = pd.DataFrame(data, index=['One', 'Two', 'Three'], columns=['a', 'b', 'c']) 
print(df)

In [23]:
#Part(b)
import pandas as pd
import numpy as np
data = np.array([0, 7, 3, 6, 2, 8, 5, 9, 4]).reshape(3, -1) 
df = pd.DataFrame(data, index=['One', 'Two', 'Three'], columns=['a', 'b', 'c']) 

df["a"] 


###commenT
 #File "<ipython-input-19-e795ec9f3243>", line 7
 #   df[‘a’]
     #    ^
#SyntaxError: invalid character in identifier**#

#The call for a single value from the dataset is invalid
#For actual referencing a double quotes is required

One      0
Two      6
Three    5
Name: a, dtype: int32

In [48]:
#Part(c)
import pandas as pd
import numpy as np
data = np.array([0, 7, 3, 6, 2, 8, 5, 9, 4]).reshape(3, -1) 
df = pd.DataFrame(data, index=['One', 'Two', 'Three'], columns=['a', 'b', 'c'])
df["One"]

KeyError: 'One'

In [29]:
#Part(d)
import pandas as pd
import numpy as np
data = np.array([0, 7, 3, 6, 2, 8, 5, 9, 4]).reshape(3, -1) 
df = pd.DataFrame(data, index=['One', 'Two', 'Three'], columns=['a', 'b', 'c'])
df.loc["Two"]

a    6
b    2
c    8
Name: Two, dtype: int32

In [ ]:
#Part(e)
import pandas as pd
import numpy as np
data = np.array([0, 7, 3, 6, 2, 8, 5, 9, 4]).reshape(3, -1) 
df = pd.DataFrame(data, index=['One', 'Two', 'Three'], columns=['a', 'b', 'c'])
df[:2]

In [30]:
#Part(f)
import pandas as pd
import numpy as np
data = np.array([0, 7, 3, 6, 2, 8, 5, 9, 4]).reshape(3, -1) 
df = pd.DataFrame(data, index=['One', 'Two', 'Three'], columns=['a', 'b', 'c'])
df.iloc[:,:2]

       a  b
One    0  7
Two    6  2
Three  5  9

In [31]:
#Part(g)
import pandas as pd
import numpy as np
data = np.array([0, 7, 3, 6, 2, 8, 5, 9, 4]).reshape(3, -1) 
df = pd.DataFrame(data, index=['One', 'Two', 'Three'], columns=['a', 'b', 'c'])
list(df.columns)

['a', 'b', 'c']

In [33]:
#Part(h)
import pandas as pd
import numpy as np
data = np.array([0, 7, 3, 6, 2, 8, 5, 9, 4]).reshape(3, -1) 
df = pd.DataFrame(data, index=['One', 'Two', 'Three'], columns=['a', 'b', 'c'])
list(df.index)

['One', 'Two', 'Three']

In [35]:
#Part(i)
import pandas as pd
import numpy as np
data = np.array([0, 7, 3, 6, 2, 8, 5, 9, 4]).reshape(3, -1) 
df = pd.DataFrame(data, index=['One', 'Two', 'Three'], columns=['a', 'b', 'c'])
df["b"]["Two"]

2

In [36]:
#Part(j)
import pandas as pd
import numpy as np
data = np.array([0, 7, 3, 6, 2, 8, 5, 9, 4]).reshape(3, -1) 
df = pd.DataFrame(data, index=['One', 'Two', 'Three'], columns=['a', 'b', 'c'])
list(df.iloc[2, :])

[5, 9, 4]

In [38]:
#Part(k)
import pandas as pd
import numpy as np
data = np.array([0, 7, 3, 6, 2, 8, 5, 9, 4]).reshape(3, -1) 
df = pd.DataFrame(data, index=['One', 'Two', 'Three'], columns=['a', 'b', 'c'])
df.drop("a", axis=1)

       b  c
One    7  3
Two    2  8
Three  9  4

In [39]:
#Part(l)
import pandas as pd
import numpy as np
data = np.array([0, 7, 3, 6, 2, 8, 5, 9, 4]).reshape(3, -1) 
df = pd.DataFrame(data, index=['One', 'Two', 'Three'], columns=['a', 'b', 'c'])
df[df.a !=5]

     a  b  c
One  0  7  3
Two  6  2  8

In [41]:
#Part (m)
import pandas as pd
import numpy as np
data = np.array([0, 7, 3, 6, 2, 8, 5, 9, 4]).reshape(3, -1) 
df = pd.DataFrame(data, index=['One', 'Two', 'Three'], columns=['a', 'b', 'c'])
list(df.sum(axis=0))

[11, 18, 15]

In [42]:
#Part(n)
import pandas as pd
import numpy as np
data = np.array([0, 7, 3, 6, 2, 8, 5, 9, 4]).reshape(3, -1) 
df = pd.DataFrame(data, index=['One', 'Two', 'Three'], columns=['a', 'b', 'c'])
df.iloc[:, list(df.sum(axis=0) < 17)]

       a  c
One    0  3
Two    6  8
Three  5  4

In [43]:
#Part(o)
import pandas as pd
import numpy as np
data = np.array([0, 7, 3, 6, 2, 8, 5, 9, 4]).reshape(3, -1) 
df = pd.DataFrame(data, index=['One', 'Two', 'Three'], columns=['a', 'b', 'c'])
df.sort_values(by='c')

       a  b  c
One    0  7  3
Three  5  9  4
Two    6  2  8

In [44]:
#Part(p)
import pandas as pd
import numpy as np
data = np.array([0, 7, 3, 6, 2, 8, 5, 9, 4]).reshape(3, -1) 
df = pd.DataFrame(data, index=['One', 'Two', 'Three'], columns=['a', 'b', 'c'])
df.sort_values(by='Two', axis=1)

       b  a  c
One    7  0  3
Two    2  6  8
Three  9  5  4

In [45]:
#Part(q)
import pandas as pd
import numpy as np
data = np.array([0, 7, 3, 6, 2, 8, 5, 9, 4]).reshape(3, -1) 
df = pd.DataFrame(data, index=['One', 'Two', 'Three'], columns=['a', 'b', 'c'])
df.T

   One  Two  Three
a    0    6      5
b    7    2      9
c    3    8      4

In [46]:
#Part(r)
import pandas as pd
import numpy as np
data = np.array([0, 7, 3, 6, 2, 8, 5, 9, 4]).reshape(3, -1) 
df = pd.DataFrame(data, index=['One', 'Two', 'Three'], columns=['a', 'b', 'c'])
(df<=2).any(axis=0)

a     True
b     True
c    False
dtype: bool

In [17]:
#Part(s)
import pandas as pd
import numpy as np
data = np.array([0, 7, 3, 6, 2, 8, 5, 9, 4]).reshape(3, -1) 
df = pd.DataFrame(data, index=['One', 'Two', 'Three'], columns=['a', 'b', 'c'])
df.applymap(lambda x: x*2-1)

        a   b   c
One    -1  13   5
Two    11   3  15
Three   9  17   7

In [18]:
#Part(t)
import pandas as pd
import numpy as np
data = np.array([0, 7, 3, 6, 2, 8, 5, 9, 4]).reshape(3, -1) 
df = pd.DataFrame(data, index=['One', 'Two', 'Three'], columns=['a', 'b', 'c'])
df.apply(lambda x: max(x), axis=1)

One      7
Two      8
Three    9
dtype: int64